<p>
  <div class="span5">
  <b>Subtasks:</b>
  <table class="table table-bordered">
  	<tr>
  		<th>Title</th>
  		<th></th>
  		<th></th>
  	</tr>
  	<% @task.subtasks.each do |subtask| %>
  	<tr>
      <td><%= link_to subtask.title, subtask %></td>
  		<td><%= subtask.title %></td> 
      <td align=right; width=30px;><%= link_to 'Remove', subtask, :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
  	<% end %>
  </table>
</div>
</p>
