        <ul class="breadcrumb">
          <li><a href="#">Projeto: Gerenciador de tarefas</a> <span class="divider">/</span></li>
          <li><a href="#">Layout</a> <span class="divider">/</span></li>
          <li><a href="#">HTML</a> <span class="divider">/</span></li>
          <li><a href="#">Menu</a> <span class="divider">/</span></li>
          <li><a href="#">Criar itens do menu</a> <span class="divider">/</span></li>
          <li class="active">Adicionar icones aos itens</li>
        </ul>