<div style="padding-top: 8px">
  <ul class="tasks zebra-list">

    <% @project.tasks.roots.each do |subtask| %>
    <li>
      <input type="checkbox"> 
      <table>
        <thead>
        <tr>
          <th></th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td><span class="title"><%= link_to subtask.title, subtask %></td>
            <td>
              <%= link_to icon(:remove, :white), subtask, :confirm => 'Are you sure?', :method => :delete %>
            </td>
          </tr>
        </tbody>
      </table>
     </span> 
     <span class="meta">Created <em><%=time_ago_in_words(subtask.created_at)%></em> ago by <em><%=subtask.project.user.name%></em></span>
   </li>
   <% end %>
 </ul>
</div>